.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/vacation_w_bg_s.jpg);
					// background-image: url(../images/bg/vacation_s_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/vacation_w_bg.jpg);
						// background-image: url(../images/bg/vacation_s_bg.jpg);
					}
				}
			} 
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			&.-topView{
				&-sliderArea{
					top: 48%;
					left: auto;
					right: 0;
					width: 85%;
					@include mq(tb){
						top: 50%;
						left: 45.1%;
						right: auto;
						transform: translateY(-50%);
						width: 55%;
					}
				}
				&-text{
					top: 87%;
					left: 82%;
					width: auto;
					@include mq(tb){
						top: 83%;
						left: 92%;
					}
				}
			}
			// インタビューエリア
			&.-interview_btn{
				top: 75%;
				left: 50%;
				transform: translateX(-50%);
				width: 50%;
				@include mq(tb){
					top: 68%;
					left: 25%;
					width: 17%;
				}
			}
			// 区画エリア
			&.-kukaku_btn{
				@include mq(sp){
					top: 72%;
					left: 50%;
					transform: translateX(-50%);
					width: 50%;
				}
				@include mq(tb){
					top: 56%;
					left: 16.72%;
					width: 15%;
				}
			}
			&.-kukaku_text{
				@include mq(sp){
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
				@include mq(tb){
					// top: 88%;
					top: 97%;
				}
			}
			// お問い合わせエリア
			&.-contact_btn{
				top: 39%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 50%;
				}
			}

			
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


